.contenedorPelicula {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
  }
  
  .ImgPelicula {
    border-radius: 20px;
    /* Estilos para la imagen de la película */
    /* Asegúrate de ajustar el tamaño, márgenes y otros estilos según tus necesidades */
    height: 100%;
    margin: auto;
  }
  
  .detallePelicula {
    background-color: rgb(96, 89, 89); /* Color del rectángulo rojo */
    border-radius: 25px;
    color: white; /* Color del texto en el rectángulo rojo */
    padding: 10px; /* Espaciado interno para el texto */
    max-width: 400px;
    height: 100%;
    margin: auto;
  }
  
  .detallePelicula button{
    background-color: black;
    margin: 10%;
    border-radius: 20px;

  }
  @media (max-width:800px) {
    .contenedorPelicula {
      display: flex;
      height: 100vh; /* Ajusta la altura según tus necesidades */
    
    }
  }  